* {
    background-color: black;
    margin: 0;
    color: white;
}
body {
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 150px;
}
.logo-header {
    width: 100px;
    height: 75px;
}
.nav-bar {
    display: flex;
    justify-content: space-around;
}
.nav-bar li {
    background-color: white;
    color: black;
    list-style-type: none;
    padding: 10px;
}
h1, h3 {
    text-align: center;
}

.hero-container {
    height: 400px;
    border: 1px solid white;
}
.about-me {
    display: flex;
    justify-content: space-around;
}
.about-me-para {
    width: 500px;
}

#picture-about-me {
    width: 400px;
    height: 200px;
    border: 1px solid white;
}
.portfolio-section {
    width: full-width;
    height: 200px;
    border: 1px solid white;
}