* {
    background-color: #000000;
    margin: 0;
    color: white;
}
body {
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FB2576;
    height: 125px;
}
.logo-header {
    width: 100px;
    height: 75px;
}
.nav-bar {
    background-color: #FB2576;
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 300px;
}

.nav-bar li {
    background-color: #FB2576;
    color: white;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav-bar a {
    background-color: #FB2576;
    text-decoration: none;
}
h1, h3 {
    text-align: center;
}

.hero-container {
    height: 400px;
    border: 1px solid white;
}
.hero-container p {
    margin-top: 50px;
    text-align: center;
    border: 1px solid white;
}
.about-me {
    display: flex;
    justify-content: space-around;
}

.about-me-para {
    width: 500px;
}

#picture-about-me {
    width: 400px;
    height: 200px;
    border: 1px solid white;
}

/* Portfolio Section Starts Here */
.portfolio-section {
    width: full-width;
    height: 200px;
    border: 1px solid white;
}
.portfolio-section p {
    text-align: center;
}


/* Portfolio Section Ends Here */




/* Blog Section Starts Here */
.blog-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0px 20px 0px;
    height: 100px;
    border: 1px solid white;
}





/* Blog Section Ends Here */

/* Footer section starts here */

footer {
    background-color: #FB2576;
    height: 100px;
    border: 1px solid white;
}



/* Footer Section ends here */